$san-serif-family: tahoma, arial, san-serif;
$line-height:1.6;
$font-size: 18px;
$body-container: 650px;
$vertical-margin:40px;
$horizontal-padding: 10px;
$header-line-height:1.2;

body {
  font-family: $san-serif-family;
  font-size: $font-size;
  line-height: $line-height;
  max-width: $body-container;
  margin: $vertical-margin auto;
}
